# use glob syntax.
syntax: glob
*.class
*~
*.bak
*.off
*.old
.DS_Store

# or Maven
dependency-reduced-pom.xml

# building
target
test-data

# Eclipse
.classpath
.project
.settings
bin

# IDEA
.idea
*.iml
*.ipr
*.iws

# Project-specific
data-tstore-entries
data-tstore-nodes
